---
layout: default
---
<section id="main_content" class="inner">
    <h2>{{ page.title }}</h2>
    {% if page.subtitle %}
    <h3>{{ page.subtitle }}</h3>
    {% endif %}
    <h4>By {{ page.author }}</h4>

    <div class="post">
        {% if page.previousBlog %}
        <p><em>[ This post was previously published on <a href="{{page.previousBlogLink}}">{{ page.previousBlog }}</a> ]</em></p>
        {% endif %}
        {{ content }}
    </div>

    <hr>
    <div class="meta">
        <div class="picture">
            {% if page.picture %}
                <img src="/images/{{ page.picture }}" style="max-width: 100px;">
            {% endif %}
        </div>
        <div class="text">
            <div>Posted under <a href="/{{ page.category }}.html">{{ page.category }}</a> on {{ page.date | date_to_string }}</div>
            <p>
                By {{ page.author }}
            </p>
            {% if page.authorTitle %}
            <p>{{ page.authorTitle }}</p>
            {% endif %}
            <div>

            {% if page.twitter %}
            <p>Follow {{ page.author }} on Twitter <a href="https://twitter.com/{{ page.twitter }}"><span class="handle">@{{ page.twitter }}</span></a></p>
            {% endif %}
        </div>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'nextjump';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
<script>
    var imgs = document.querySelectorAll('.post img');
    var foreach = Array.prototype.forEach;
    foreach.call(imgs, function(node){ node.parentNode.style.textAlign = 'center'; });
</script>
